@charset "utf-8";
/*
	App by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800");
* {
  margin: 0px;
  padding: 0px;
  font-family: "游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
}

html {
  overflow-x: hidden;
}

p {
  color: #000;
}

li {
  color: #000;
  padding-bottom: 5px;
}

.bold{
  font-weight: bold;
  color: #62D455;
}

a {
  color: #1e90ff;
  text-decoration: underline;
}

table{
  margin:0 auto;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border:none;
  border-spacing: 0;
  overflow:hidden;
  width: 95%;
  margin-top: 50px;
}

td,th{
  border-bottom:none;
  width:100px;
}
td,th{
  font-size: 14.5px;
  padding:10px;
}
td{
  color: #000;
}

table tbody tr:last-child th,
table tbody tr:last-child td{
  border-bottom: none;
}
th + th,td{
  border-left:none;
}

table tr:nth-child(odd){
  background:#f2ffe5;
}
table tr:nth-child(even){
  background:#fff;
}
table tr:nth-child(1) th{
  font-size: 10px;
  height: 50px;
}
table th {
  color: #32cd32;
}

table.example-home tr small {
  text-align: left;
}

h2.midashi {
  font-weight: bold;
  font-size: 20px;
  padding: 0.5em;/*文字周りの余白*/
  color: #fff;/*文字色*/
  background: #62D455;/*背景色*/
  border-bottom: solid 3px yellow;/*下線*/
  margin: 50px 0px 30px 0px;
  width: 100%;
}

.indent {
  text-indent: 1em;
}

.block-center {
  margin: 0 auto;
}

.inline-center {
  text-align: center;
  display: inline;
}

.spacer {
  width: 100%;
  height: 10px;
}

.sp {
  display:none;
}

.img {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 400px;
}

.img img{
  width: 100%;
}

/*---------------------
/ ヘッダ
/*---------------------*/
div.title-header {
  background: #62D455;

}

div.title-header h1,h2 {
  text-align: center;
  color: #fff;
}

div.title-header{
  padding-bottom: 50px;
}

div.title-header h1{
  font-size: 35px;
}

div.title-header h2{
  font-size: 18px;
}
/*---------------------
/ サブタイトル
/*---------------------*/
.download-btn-first {
  background: #62D455;
}

.download-btn-first:hover {
  background: #f7f7f7;
  color: #62D455 !important;
}

.download-btn-first-top {
  background: #62D455;
}

.download-btn-first-top:hover {
  background: white;
  color: #62D455 !important;
}

.features-btn-first {
  font-weight: 700;
}

.features-btn-first:hover {
  background: #62D455 !important;
  color: #f7f7f7 !important;
}

#fh5co-hero-wrapper {
  height: 750px;
  width: 100%;
  background: #62D455;
  border-radius: 0 0 50% 50% / 4%;
  margin-bottom: 50px;
}

#fh5co-hero-wrapper  h1{
  font-size: 60px;
  color: #fff;
  text-align: center;
}

.stripe_border
{
  position: relative;
  background: #ffdc00;
  padding: 20px 0px;;
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
}

.stripe_border::after
{
position: absolute;
    top: -10px; bottom: -10px;
    left: -10px; right: -10px;
    background: repeating-linear-gradient(45deg, black, black 10px, #ffdc00 10px, #ffdc00 20px);
    background-color: black;
    border-radius: 5%;
    content: '';
    z-index: -1;
}

img.kenni {
  width: 600px;
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

.main-navbar-nav .navbar-brand {
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
  top: -5px;
  font-weight: 500;
}

.main-navbar-nav {
  color: #fff !important;
  background: rgb(255,255,255,0.8)
}
.main-navbar-nav li {
  color: #fff;
  opacity: .7;
}
.main-navbar-nav .navbar-nav .nav-item a:hover {
  color: #234197 !important;
  -webkit-transition: all .33s ease;
  -moz-transition: all .33s ease;
  -o-transition: all .33s ease;
  -ms-transition: all .33s ease;
  transition: all .33s ease;
}
.main-navbar-nav .active {
  color: #696969 !important;
  opacity: 1 !important;
}
.main-navbar-nav a {
  color: #696969 !important;
}
.main-navbar-nav .nav-link {
  opacity: 1 !important;
  margin: 0 35px;
  font-size: 14.5px;
  font-weight: 500;
}

.social-icons-header i {
  margin: 15px;
  font-size: 20px;
}

.social-icons-header a:hover i {
  opacity: .6;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}

.fh5co-hero-inner {
  padding-top: 100px;
  position: relative;
}
.warning {
  font-weight: 300;
  font-size: 80px;
  letter-spacing: 2px;
  text-align: center;
}
.warning-2 {
  color: #d9333f;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 2px;
  margin: 0 auto;
  text-align: center;
}
.fh5co-hero-inner > p {
  width: 400px;
  font-size: 17px;
  color: #000;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2em;
}
.download-btn-first {
  font-size: 20px;
  font-weight: 700;
  color: #f7f7f7;
  padding: 10px 15px;
  margin: 50px auto;
  width: 300px;
  text-align: center;
  display:block;
}
.download-btn-first-top {
  font-size: 20px;
  font-weight: 700;
  color: #f7f7f7;
  background: #1e90ff;
  padding: 10px 15px;
  margin: 50px auto;
  width: 300px;
  text-align: center;
  display: block;
  margin: 50px auto;
  box-shadow: 3px 3px 3px #313131;
}
.features-btn-first {
  font-size: 15px;
  padding: 8px 13px;
  font-weight: 400;
  background: #f7f7f7;
  color: #62D455;
  margin-left: 10px;
}
.fh5co-hero-inner .fh5co-hero-smartphone {
  position: absolute;
  right: 0px;
  top: 120px;
  height: 650px;
}

.whitebg {
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.linecolor {
  color: #62D455;
}

/* ==========================================================================================================
										INTRODUCT
   ========================================================================================================== */
.fh5co-introduct-outer {
  margin: 100px 0px;
  padding: 10px;
  height: auto;
  width: 100%;
}

.fh5co-introduct-inner {
  margin-top: 30px;
  margin-bottom: 70px;
}

.gust {
  margin-top: 80px;
  font-size: 18px;
}

.gust-2 {
  font-size: 15px;
}

p.gust-p {
  margin-bottom: 30px;
}

.biggest {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
li.paddinglist {
  font-size: 20px;
  padding: 20px 0px;
  color: #000;
}

h1.introduct {
  color: #62D455;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 150px;
}

.discount-margin {
  width: 500px;
  margin: 0 auto;
  margin-top:20px;
}

.discount-massage {
  margin-top:40px;
  font-size: 30px;
}

/* ==========================================================================================================
										ADVANTAGES
   ========================================================================================================== */
.fh5co-advantages-outer {
  padding: 10px;
  height: auto;
  max-width: 700px;
  overflow: hidden;
  margin: 0 auto;
}
.fh5co-advantages-outer .span-perfect {
  font-size: 27px;
  letter-spacing: 1px;
}
.fh5co-advantages-outer .span-features {
  text-transform: uppercase;
  font-size: 42px;
}
.fh5co-advantages-outer .second-title {
  color: #000;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  display: block;
  margin: 60px 0px;
}
.fh5co-advantages-outer small {
  color: #000;
  font-size: 13px;
  display: block;
  text-align: center;
}
mostsmall {
  color: #000;
  font-size: 8px;
  display: block;
  text-align: center;
}
.fh5co-advantages-outer .fh5co-advantages-grid-columns {
  margin-top: 120px;
}
.fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-image {
  width: 30%;
  padding-right: 30px;
  position: relative;
  top: 1px;
  color: #6E6E6E;
}
.fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-title {
  font-size: 20px;
  font-weight: 600;
}
.fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-desc {
  font-size: 13px;
  width: 70%;
  color: #000;
  margin-top: 10px;
  line-height: 1.87em;
}
.fh5co-slider-inner {
  margin-top: 10px;
  margin-bottom: 10px;
}
.emphasis {
  color: #62D455;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.step {
  margin-bottom: 80px;
}


/* ==========================================================================================================
										EXAMPLE
   ========================================================================================================== */
.fh5co-example-outer {
  width: 100%;
  padding: 0px 10px;
  text-align: center;
  font-size: 15px;
  margin-bottom: 80px;
}
.fh5co-example-outer .fh5co-example-inner {
  margin-top: 100px;
}
.fh5co-example-outer h1 {
  color: #62D455;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.fh5co-example-outer > small {
  color: #000;
  text-align: center;
  display: block;
}
.fh5co-example-outer .testimonial-desc {
  clear: both;
  padding-top: 30px;
  font-weight: 500;
}
/*.fh5co-example-outer .testimonial-2 {
  margin-left: 50px;
}*/
/* ================カウントダウンレイアウト==============*/
#CDT .milli{
 font-size: 18px;
}

/* ======================メールレイアウト=====================*/
.mail {
  max-width: 450px;
  text-align: left;
  border: #000 1px solid;
  padding: 10px 5px;
  margin: 0 auto;
}
/* ======================LINE風吹き出し ======================*/
.line-bc {
  padding: 20px 10px;
  max-width: 450px;
  max-height: 600px;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch
}

.line-wh {
  padding: 20px 10px;
  max-width: 500px;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #fff;
}

/*以下、②左側のコメント*/
.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon6 .faceicon img{
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.balloon6 .chatting {
  width: 100%;
  text-align: left;
}

.says-icon {
  display: inline-block;
  position: relative;
  margin: 0 0 0 60px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #303030;
  color: #fff;
}
.says-icon:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #303030;
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says-icon p {
  color: #fff;
  margin: 0;
  padding: 0;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 10px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.says p {
  color: #000;
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント*/
.mycomment {
  margin: 5px 0px 5px 5px;
}

.balloon6 .faceicon-my img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.balloon6 .faceicon-my {
  float: right;
  margin-left: -50px;
  width: 40px;
}

.mycomment p{
  color: #000;
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #99ff00;
  font-size: 14px;
  text-align:left;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #99ff00;
  -ms-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.mycomment-wh p{
  color: #000;
  display: inline-block;
  position: relative;
  margin: 0 50px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #c6e2ff;
  font-size: 14px;
  text-align:left;
}

.mycomment-wh p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #c6e2ff;
  -ms-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.lineimg-right{
  margin: 10px 10px 5px 0px;
  display: block;
  max-width: 200px;
  margin-left: auto;
  border-radius: 10px;
}
.lineimg-left{
  margin: 10px 0px 5px 10px;
  display: block;
  max-width: 200px;
  margin-right: auto;
  border-radius: 10px;
}
.line-example {
  color: #32cd32;
  font-size: 22px;
  margin-bottom: 15px;
  display: block;
  width: 100%;
  text-align: center;
}

.plus-button {
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin: 5px 10px 10px 0px;
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
    float: right;
    clear:both;
    text-align: center;
    cursor:pointer;
    color: #FFFFFF;
    background: #c0c0c0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    animation: fluffy1 2s ease infinite;
}

@keyframes fluffy1 {
  0% { transform:translateY(0) }
  5% { transform:translateY(0) }
  10% { transform:translateY(0) }
  20% { transform:translateY(-5px) }
  25% { transform:translateY(0) }
  30% { transform:translateY(-5px) }
  50% { transform:translateY(0) }
  100% { transform:translateY(0) }
}

/* ==========================================================================================================
										SLIDER
   ========================================================================================================== */
.fh5co-slider-outer {
  width: 100%;
  height: auto;
  padding: 70px;
}
.fh5co-slider-outer h1 {
  color: #62D455;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}
.fh5co-slider-outer small {
  color: #000;
  text-align: center;
  display: block;
  margin-top: 30px;
}
.fh5co-slider-outer small{
  font-size: 13px
}
.fh5co-slider-outer .fh5co-slider-outer {
  margin-top: 50px;
}
.fh5co-slider-outer .carousel-left-arrow {
  position: absolute;
  left: -100px;
  bottom: 250px;
  font-size: 60px;
  color: #ececec;
}
.fh5co-slider-outer .carousel-right-arrow {
  position: absolute;
  right: -100px;
  bottom: 250px;
  font-size: 60px;
  color: #ececec;
}
.fh5co-slider-outer .item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* ==========================================================================================================
										FEATURES
   ========================================================================================================== */
.curved-bg-div {
  background: url("../img/curved-bgg.jpg") no-repeat;
  background-position: 0px -140px;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-top: 80px;
}

.fh5co-features-outer {
  width: 100%;
  height: auto;
/*  margin-top: -180px;*/
}
.fh5co-features-outer .col-sm-6 {
  margin-top: 80px;
  margin: 0 auto;
}
.fh5co-features-outer .col-sm-6 img {
  height: 550px;
}
.fh5co-features-outer .sm-6-content {
  margin-top: 250px;
  position: relative;
}
.fh5co-features-outer .sm-6-content h1 {
  color: #62D455;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.fh5co-features-outer .sm-6-content p {
  color: #000;
  font-weight: 500;
  font-size: 14.5px;
  line-height: 1.8em;
}
.fh5co-features-outer .col-sm-6 .col-sm-image-container {
  position: relative;
  width: 300px;
}
.fh5co-features-outer .col-sm-6 .span-new {
  color: #fff;
  background: #62D455;
  padding: 18px;
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  font-weight: 700;
  right: 0;
  top: 100px;
}
.fh5co-features-outer .col-sm-6 .span-free {
  color: #fff;
  background: #62D455;
  padding: 18px;
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  left: -35px;
  bottom: -430px;
  font-weight: 700;
}
.fh5co-features-outer .col-sm-6 .span-data {
  color: #fff;
  background: #62D455;
  padding: 20px;
  width: 30px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  letter-spacing: 1px;
  box-sizing: initial;
  position: absolute;
  top: 140px;
  right: -2px;
  font-weight: 700;
}
.fh5co-features-outer .col-sm-6 .span-percent {
  color: #fff;
  background: #000;
  padding: 18px;
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  left: -35px;
  bottom: -430px;
  font-weight: 700;
}
.span-safety {
  color: #fff;
  background: #62D455;
  padding: 18px;
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  left: -20px;
  bottom: 340px;
  font-weight: 700;
}
.fh5co-features-outer .col-sm-6 .circle {
  color: #c3cfe5;
  border: 1px solid #ededed;
  background: #fff;
  padding: 10px;
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  font-weight: 600;
  box-shadow: 0 0 0 5px #f9f9f9;
}
.fh5co-features-outer .col-sm-6 .circle-first {
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  margin-left: 0px;
  font-weight: 600;
}
.fh5co-features-outer .col-sm-6 .circle-middle {
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  margin-left: 50px;
  font-weight: 600;
}
.fh5co-features-outer .col-sm-6 .circle-last {
  width: 35px;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  box-sizing: initial;
  position: absolute;
  margin-left: 100px;
  font-weight: 600;
}

/* ==========================================================================================================
										REVIEWS
   ========================================================================================================== */
.fh5co-reviews-outer {
  width: 100%;
  padding: 70px;
  margin-top: 100px;
  font-size: 15px;
}
.fh5co-reviews-outer .fh5co-reviews-inner {
  margin-top: 100px;
}
.fh5co-reviews-outer > h1 {
  color: #62D455;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.fh5co-reviews-outer > small {
  color: #000;
  text-align: center;
  display: block;
}
.fh5co-reviews-outer .testimonial-desc {
  clear: both;
  padding-top: 30px;
  font-weight: 500;
}
.fh5co-reviews-outer .testimonial-2 {
  margin-left: 50px;
}
.fh5co-reviews-outer p {
  text-align: center;
  font-size: 15px;
}

/* ==========================================================================================================
										BOTTOM
   ========================================================================================================== */
.fh5co-bottom-outer {
  width: 100%;
  background: #62D455;
  overflow-x: hidden;
  color: #fff;
  text-align: center;
}

.fh5co-bottom-outer a{
  color: white;
  text-decoration: underline;
}
.fh5co-bottom-outer .fh5co-bottom-inner {
  text-align: center;
  margin-top: 50px;
}
.fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 {
  margin: 0 auto;
}
.fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 h1 {
  font-size: 25px;
  margin-bottom: 30px;
}
.fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 p {
  width: 100%;
  color: #fff;
  font-size: 14.5px;
  line-height: 1.85em;
}
.fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 img {
  margin-top: 25px;
}
#thanks {
  margin: 0 auto;
}

   /* ==========================================================================================================
										SUB FOOTER
   ========================================================================================================== */
.img-float-left {
  float: left;
  margin-top: 30px;
}

.img-float-right {
  float: right;
}

.footer-outer {
  width: 100%;
  padding: 50px;
  min-height: 250px;
  background: #2e3149;
  overflow: hidden;
}

.footer-outer .footer-inner {
  width: 100%;
  min-height: inherit;
}
.footer-outer .social-icons-footer i {
  margin: 15px;
  font-size: 20px;
}
.footer-outer .social-icons-footer a:hover i {
  opacity: .6;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.footer-outer .footer-three-grid {
  width: 1140px;
  margin: 0 auto;
  min-height: 50px;
  text-align: center;
}
.footer-outer .column-1-3 {
  width: 20%;
  float: left;
  height: 50px;
  display: block;
  text-align: center;
}
.footer-outer .column-1-3 h1 {
  font-size: 35px;
  letter-spacing: 3px;
  position: relative;
  top: -5px;
  font-weight: 600;
  display: block;
  color: #fff;
}
.footer-outer .column-2-3 {
  width: 60%;
  float: left;
  min-height: 50px;
}
.footer-outer .column-3-3 {
  width: 20%;
  float: left;
  min-height: 50px;
}
.footer-outer .column-3-3 a {
  color: #b5b5c8;
}
.footer-outer .column-3-3 .social-icons-header a:hover {
  color: #fff;
  opacity: 1;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.footer-outer .footer-nav ul {
  list-style: none;
  text-align: center;
  padding-top: 25px;
}
.footer-outer .footer-nav ul li {
  display: inline-block;
  line-min-height: 50px;
  color: #b5b5c8;
  margin: 0 30px;
  font-size: 11px;
}
.footer-outer .footer-nav ul li:hover {
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.footer-outer .footer-nav ul .active {
  color: #fff;
}
.footer-outer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-outer .border-bottom-footer {
  min-height: 1px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #434769;
  display: block;
}
.footer-outer .copyright {
  color: #565b87;
  text-align: center;
  display: block;
  font-size: 13px;
  padding: 40px 0;
}

.google-play-btn {
  margin-left: 10px;
}

.footer-info {
  color: white;
  text-align: left;
  display: block;
}

/* ==========================================================================================================
                                                         TOPに戻るボタン
  ========================================================================================================== */

#page_top{
  width: 70px;
  height: 70px;
  position: fixed;
  left: 10px;
  bottom: -100px;
  background: #62D455;
  opacity: 0.8;
  border: 1px #fff solid;
  border-radius: 50%;
  z-index: 2;
}
#page_top a{
  position: relative;
  display: block;
  width: 68px;
  height: 40px;
  text-decoration: none;
  z-index: 2;
}
#page_top a::before{
  font-family: FontAwesome;
  content: '\f102';
  font-size: 35px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  z-index: 2;
}

/* ==========================================================================================================
                                                         フォーム
  ========================================================================================================== */
input.requiredcolor {
  background: #ffffa3;
}

input.readonlycolor {
  background: #d3d3d3;
}

span.requiredcolor {
  font-size: 16px;
  color: yellow;
  font-weight: lighter;
}
p.requiredcolor {
  font-size: 23px;
  color: yellow !important;
}

/* 残り質問数 */
p.nokori-num {
  font-size: 12px !important;
}

/*--------------------------------------
テキスト
---------------------------------------*/

.msr_text_02 {
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto;
}
.msr_text_02  label {
  display: block;
  font-size: 20px;
  padding-bottom: 5px;
}
.msr_text_02 input[type=text] {
  border: 1px solid #009944;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  font-size: 16px;
  padding: 10px;
  height: 40px;
  width: 80%;
  border-radius: 20px;
  text-align: center;
  transform:scale(0.8);
}
.msr_text_02 input[type=email] {
  border: 1px solid #009944;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  font-size: 16px;
  padding: 10px;
  height: 40px;
  width: 80%;
  border-radius: 20px;
  text-align: center;
  transform:scale(0.8);
}
.msr_text_02 input[type=url] {
  border: 1px solid #009944;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  font-size: 16px;
  padding: 10px;
  height: 40px;
  width: 80%;
  border-radius: 20px;
  text-align: center;
  transform:scale(0.8);
}
.msr_text_02 input[type=number] {
  border: 1px solid #009944;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  font-size: 16px;
  padding: 10px;
  height: 40px;
  width: 80%;
  border-radius: 20px;
  text-align: center;
  transform:scale(0.8);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance:textfield;
}

span.formdescription{
  text-size: 16px;
}

div.inputzone {
  width: 100%;
}

/*--------------------------------------
ラジオボタン
---------------------------------------*/

.msr_radio_02 {
  padding-bottom: 20px;
}
.msr_radio_02 p {
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_radio_02 input[type=radio] {
  display: none;
  margin: 0;
}
.msr_radio_02 input[type=radio] + label {
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 1.5px;
  margin-right: 12px;
  padding: 0 0 3px 24px;
  position: relative;
}
.msr_radio_02 input[type=radio] + label::before {
  border: 1px solid #009944;
  border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  margin-top: -9px;
  position: absolute;
  left: 0;
  top: 50%;
  height: 13px;
  width: 13px;
}
.msr_radio_02 input[type=radio]:checked + label::after {
  background: #009944;
  border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  margin-top: -4px;
  position: absolute;
  left: 3px;
  top: 0px;
  height: 7px;
  width: 7px;
}

/*--------------------------------------
チェックボックス
---------------------------------------*/

.msr_chack_02 {
  padding-bottom: 20px;
}
.checkbox-field {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
.msr_chack_02 p {
  font-size: 14px;
  padding-bottom: 5px;
  text-align: center;
}
.msr_chack_02 label {
  display: block;
  font-size: 20px;
  padding-bottom: 5px;
}
.msr_chack_02 input[type=checkbox] {
  display: none;
  margin: 0;
}
.msr_chack_02 input[type=checkbox] + label {
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 1.5px;
  margin-right: 12px;
  padding: 0 0 0 24px;
  position: relative;
}
.msr_chack_02 input[type=checkbox] + label::before {
  background: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #009944;
  content: "";
  display: block;
  margin-top: -9px;
  position: absolute;
  left: 0;
  top: 50%;
  height: 16px;
  width: 16px;
}
.msr_chack_02 input[type=checkbox]:checked + label::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
}
.msr_chack_02 input[type=checkbox]:checked + label::after {
  border-bottom: 2px solid #009944;
  border-left: 2px solid #009944;
  left: 3px;
  margin-top: -7px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  height: 6px;
  width: 9px;
}

/*--------------------------------------
プルダウン
---------------------------------------*/

.msr_pulldown_02 {
  padding-bottom: 20px;
  position: relative;
  width: 160px;
  margin: 0 auto;
}
.msr_pulldown_02  label {
  display: block;
  font-size: 20px;
  padding-bottom: 5px;
}
.msr_pulldown_02 select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff url(../img/form/msr02_pulldown_btn01.png) no-repeat right;
  border: 1px solid #009944;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  text-indent: .01px;
  text-overflow: "";
  padding: 10px;
  height: 45px;
  width: 180px;
  border-radius: 20px;
  padding-left:15px;
}

/*--------------------------------------
ファイル選択
---------------------------------------*/

.msr_file_02 {
  padding-bottom: 20px;
  width: 460px;
}
.msr_file_02>p {
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_filebox_02 {
  position: relative;
}
.msr_filebox_02 input[type=file] {
  display: none;
}
.msr_filebox_02 label {
  border: 1px solid #009944;
  cursor: pointer;
  font-size: 14px;
  display: block;
  position: relative;
  padding: 10px;
  height: 20px;
  width: 460px;
}
.msr_filebox_02 label:before {
  background: #1B73BA;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "Browse...";
  color: #fff;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 99px;
}

/*--------------------------------------
テキストエリア
---------------------------------------*/

.msr_textarea_02 {
  padding-bottom: 10px;
  width: 100%;
}
.msr_textarea_02 label {
  display: block;
  font-size: 20px;
  padding-bottom: 5px;
  text-align: center;
}
.msr_textarea_02 textarea {
  border: 1px solid #009944;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333;
  font-size: 16px;
  padding: 10px;
  height: 210px;
  width: 100%;
  border-radius: 20px;
}

/*--------------------------------------
確認画面
---------------------------------------*/
.edit {
  cursor: pointer;
}

/*--------------------------------------
送信ボタン
---------------------------------------*/

.msr_sendbtn_02#submit {
  margin: 0 auto;
  height: 40px;
  line-height: 23px;
  padding: 10px 20px;
  background: #1e90ff;
  color: #fff;
  font-size: 23px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  clear: both;
  position: relative;
}


/* -------------- 表示・非表示 ------------- */
.hidebox {
  display: none;
  position: relative;
}

#switchBtn {
  background: #fff;
  color: #1e90ff;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  width: 25%;
  border-radius: 20px;
  cursor: pointer;
}

div.detail-box {
  padding:20px 5px;
  margin-top: 60px;
  margin-bottom: 20px;
  background: rgba(0,0,0,0.3);
  border-radius:10px;
}
div.detail-box h2 {
  color: white;
  margin-bottom: 20px;
}

.errmsg {
  font-size: 13px;
  color: yellow;
  display: block;
  margin-bottom: 10px;
}

/* -------------- ボタン ------------- */
div.prev {
  float: left;
  height: 40px;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  font-size: 15px;
  position:relative;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

div.next {
  float: right;
  height: 40px;
  padding: 10px 20px;
  background: #1e90ff;
  color: #fff;
  font-size: 15px;
  position:relative;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

div.avgBtn-less {
  float: left;
  height: 40px;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  font-size: 15px;
  position:relative;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  margin: 20px 10px;
}

div.avgBtn-more {
  float: right;
  height: 40px;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  font-size: 15px;
  position:relative;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  margin: 20px 10px;
}


div.skip {
  background: #fff !important;
  color: gray !important;
}

/* 確認画面 */
.confirm-box {
  font-size: 14.5px;
}

.confirm-label {

}
.confirm-text {
  color: yellow;
  margin-bottom: 20px;
}
.confirm-text-other {

}

/* ==========================================================================================================
                                                         RESPONSIVE STYLING
  ========================================================================================================== */
@media screen and (max-width: 1400px) {
  body {
      overflow-x: hidden;
  }
  #fh5co-hero-wrapper {
    height: 750px;
    width: 100%;
    background: #62D455;
    border-radius: 0 0 50% 50% / 4%;
    margin-bottom: 50px;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
      position: absolute;
      right: 50px;
      top: 200px;
      height: 550px;
  }

  .curved-bg-div {
      background-position: 100% -20px;
  }

  .footer-outer .footer-three-grid {
      width: 100%;
  }

  .sp {
    display:none;
  }
}
@media screen and (max-width: 1200px) {
  body {
      overflow-x: hidden;
  }

  img.kenni {
    width: 600px;
    display: block;
    text-align: center;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
      position: absolute;
      right: -15px;
      top: 200px;
      height: 550px;
  }
  .sp {
    display:none;
  }
}
@media screen and (max-width: 993px) {
  body {
      overflow-x: hidden;
  }

  img.kenni {
    width: 600px;
    padding-top: 50px;
  }

  #fh5co-hero-wrapper {
      height: 100%;
  }

  .fh5co-hero-inner {
      padding-top: 50px;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      top: 270px;
      height: 460px;
      margin-top: 110px;
  }

  .fh5co-advantages-outer {
      margin-top: 0px;
      padding-bottom: 0;
      margin-bottom: 30px;
  }

  .fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-image {
      width: 60px;
      float: none;
      display: block;
      margin: 0 auto;
      padding-right: 0px;
      margin-bottom: 20px;
      position: relative;
      top: 1px;
  }

  .fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-title {
      float: none;
      font-size: 25px;
      text-align: center;
  }

  .fh5co-advantages-outer .fh5co-advantages-grid-columns .col-sm-4 .grid-desc {
      float: none;
      font-size: 15px;
      width: 100%;
      text-align: center;
  }

  .fh5co-slider-outer .fh5co-slider-outer {
      margin-top: 0px;
  }

  .fh5co-features-outer {
      margin-top: -100px;
  }

  .fh5co-features-outer .sm-6-content p {
      width: 100%;
  }

  .footer-outer .footer-nav ul li {
      margin: 0 10px;
  }

  .footer-outer .social-icons-footer i {
      margin: 15px 10px;
      font-size: 20px;
  }
  .sp {
    display:none;
  }
}
@media screen and (max-width: 993px) {
  img.kenni {
    width: 600px;
    padding-top: 50px;
  }

  .fh5co-features-grid-columns .col-sm-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
      margin: 30px auto;
      text-align: center;
  }

  .fh5co-features-outer .col-sm-6 .col-sm-image-container {
      position: relative;
      width: 295px !important;
      text-align: center;
      margin: 15px auto 0;
  }

  .no-float {
      float: none !important;
  }

  .fh5co-slider-outer .carousel-right-arrow {
      position: absolute;
      right: -70px;
      bottom: 250px;
      font-size: 60px;
      color: #ececec;
  }

  .fh5co-slider-outer .carousel-left-arrow {
      position: absolute;
      left: -70px;
      bottom: 250px;
      font-size: 60px;
      color: #ececec;
  }

  .img-float-right {
      float: none;
  }

  .img-float-left {
      float: none;
  }

  .fh5co-features-outer .col-sm-6 .span-percent, .fh5co-features-outer .col-sm-6 .span-free {
      left: -15px;
      bottom: 90px;
  }

  .fh5co-features-outer .col-sm-6 .span-new {
      right: -10px;
  }

  .fh5co-features-outer .col-sm-6 .span-data {
      right: -15px;
  }

  .fh5co-features-outer .col-sm-6 .circle {
      position: static;
      display: inline-block;
      margin: 25px 5px;
  }

  .fh5co-features-grid-columns {
      display: flex;
      flex-direction: column;
  }
  .fh5co-features-grid-columns .in-order-4 {
      order: 1;
  }
  .fh5co-features-grid-columns .in-order-3 {
      order: 2;
  }

  .fh5co-reviews-outer {
      padding: 0;
  }

  .navbar-light .navbar-toggler {
      color: #fff !important;
      border-color: #6c757d !important;
  }

  .navbar-light .navbar-nav .nav-link {
      margin: 0;
      width: 100%;
  }

  .social-icons-header i:first-of-type {
      margin-right: 10px !important;
      margin-left: 0 !important;
      font-size: 30px;
  }
}
@media screen and (max-width: 800px) {
  img.kenni {
    width: 80%;
    padding-top: 50px;
  }

  .warning {
      font-weight: 300;
      font-size: 70px;
      letter-spacing: 2px;
  }
  .biggest {
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin:
  }

  #fh5co-hero-wrapper {
      height: 700px;
  }

  .fh5co-advantages-outer .fh5co-advantages-grid-columns {
      margin-top: 40px;
  }

  .fh5co-advantages-grid-columns .col-sm-4 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
      margin: 30px auto;
      text-align: center;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
      height: 420px;
      top: 310px;
  }

  .fh5co-advantages-outer .second-title {
      margin-top: 60px;
  }

  .fh5co-bottom-outer {
      margin-top: 40px;
      overflow: hidden;
  }

  .fh5co-bottom-outer .fh5co-bottom-inner {
      margin-top: 50px;
  }

  .fh5co-slider-outer {
      padding: 0;
  }

  .fh5co-slider-outer .carousel-left-arrow {
      left: 50px;
      font-size: 50px;
      bottom: 190px;
  }

  .fh5co-slider-outer .carousel-right-arrow {
      right: 50px;
      font-size: 50px;
      bottom: 190px;
  }

  .fh5co-reviews-inner .col-sm-5 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      width: 75%;
      max-width: 75%;
      margin: 30px auto;
      text-align: center;
  }

  .fh5co-slider-outer .item img {
      height: 300px;
  }

  .fh5co-reviews-outer {
      height: auto;
  }

  .fh5co-reviews-outer .fh5co-reviews-inner {
      margin-top: 50px;
  }

  .fh5co-bottom-outer {
      background-position: center bottom;
      overflow: hidden;
      height: auto;
  }

  .fh5co-bottom-inner {
      overflow: hidden;
      padding-bottom: 50px;
      text-align: center;
  }

  .overlay {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
  }

  .fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 p {
      width: 90%;
      margin: 0 auto;
  }

  .footer-outer {
      height: auto;
      padding: 20px;
  }

  .footer-outer .column-1-3 {
      width: 100%;
      float: none;
      height: auto;
      padding-top: 30px;
  }

  .footer-outer .column-2-3 {
      width: 100%;
      float: none;
      height: auto;
  }

  .footer-outer .column-3-3 {
      width: 100%;
      float: left;
      height: auto;
      margin: 15px 0;
  }

  .footer-outer .copyright {
      margin-top: 30px;
      padding: 10px 0;
  }

  .footer-outer .border-bottom-footer {
      height: 1px;
      width: 100%;
      margin: 0 auto;
      border: 1px solid #434769;
      display: block;
  }
  .sp {
    display:none;
  }
}
@media screen and (max-width: 520px) {
  #fh5co-hero-wrapper {
      height: 100%;
  }

  #fh5co-hero-wrapper h1{
      font-size: 35px;
      margin-top: 30px;
      margin-bottom: 30px;
  }

  #fh5co-hero-wrapper h2{
      font-size: 18px;
      margin-bottom: 40px;
  }

  .discount-margin {
    width: 100%;
  }

  .discount-massage {
    font-size: 23px;
  }

  img.kenni {
    width: 100%;
    margin-bottom: 0px;
    padding-top: 0px;
  }

  .sp {
    display:block;
  }

  .img-float-left {
      float: none;
  }

  .warning {
      font-size: 33px;
      text-shadow: none;
  }

  .warning-2 {
      font-size: 18px;
      margin-top: 20px;
      text-shadow: none;
  }

  .fh5co-hero-inner > p {
      width: 100%;
  }

  .fh5co-hero-inner  .whitebg{
    color: #fff;
    background: rgba(0,0,0,0.1);
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .fh5co-hero-inner .download-btn-first {
    background: #62D455;
  }

  .fh5co-hero-inner .download-btn-first-top {
    background: #1e90ff;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone{
      display: none;
  }

  .fh5co-hero-inner {
      text-align: center;
      padding-top: 0px;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
      height: 450px;
      top: 420px;
      margin-top: 140px;
  }

  .social-icons-header i:first-of-type {
      font-size: 22px;
  }

  .fh5co-slider-outer .carousel-left-arrow {
      left: 0;
  }

  .fh5co-slider-outer .carousel-right-arrow {
      right: 0;
  }

  .fh5co-slider-inner {
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .fh5co-reviews-inner .col-sm-5 {
      -ms-flex: 0 0 90%;
      flex: 0 0 90%;
      width: 90%;
      max-width: 90%;
      margin: 30px auto;
      text-align: center;
  }

  .fh5co-advantages-outer .span-perfect {
      margin-top: 0px;
      font-size: 18px;
      margin-bottom: 15px;
      display: block;
      width: 100%;
      text-align: center;
  }

  .fh5co-advantages-outer .span-features {
      font-size: 24px;
      display: block;
      width: 100%;
    text-align: center;
  }
}
